# Express
PORT=3000

# Logging (on/off, on by default/if not "off")
LOGGING=on
BOT_LOGGING=on

# Slack Tokens
SLACK_BOT_TOKEN=
SLACK_APP_TOKEN=

# Postgres
DATABASE_URL=postgresql://hackaf:hackaf@localhost:5432/hackaf?schema=public

# Graphite
GRAPHITE_HOST=

# Cache Size + TTL in seconds (short link records count in memory)
CACHE_SIZE=500
CACHE_TTL=60