# Express
PORT=3000

# Logging (on/off, on by default/if not "off")
LOGGING=on
BOT_LOGGING=on

# Slack Tokens
SLACK_BOT_TOKEN=xoxb-
SLACK_APP_TOKEN=xapp-

# Postgres
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/hackaf?schema=public

# Cache Size (short link records count in memory)
CACHE_SIZE=500